* {
    margin: 0;
    padding: 0;

    --color-main: rgb(64, 173, 235);
    --color-main-dark: rgb(40, 144, 204);

    --color-general: rgb(64, 173, 235);
    --color-safe: rgb(69, 204, 56);
    --color-warn: rgb(230, 189, 53);
    --color-danger: rgb(230, 82, 89);
    --color-special: rgb(171, 82, 203);

    --color-general-dark: rgb(40, 144, 204);
    --color-safe-dark: rgb(57, 163, 46);
    --color-warn-dark: rgb(194, 161, 52);
    --color-danger-dark: rgb(204, 61, 68);
    --color-special-dark: rgb(147, 61, 178);

    --color-general-glass: rgba(45, 147, 206, 0.12);
    --color-safe-glass: rgba(69, 204, 56, 0.12);
    --color-warn-glass: rgba(230, 189, 53, 0.12);
    --color-danger-glass: rgba(230, 82, 89, 0.12);
    --color-special-glass: rgba(147, 61, 178, 0.12);

    --corner-marker-color: rgba(255,255,255,0.5);
    --corner-marker: linear-gradient(-135deg, var(--corner-marker-color) 5px, transparent 5px, transparent 150%);

    --color-msgbox-background: #EEE;

    --animation-speed: 1.0s;
    --animation-speed-button-switch: 0.1s;
}

body {
    background-color: #FAFAFA;
}

.fh-main {
    width: 1000px;
    margin: 0 auto;
}

.fh-flex-row {
    display: flex;
    flex-flow: row wrap;
}

.fh-col-24 {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
}

.fh-col-18 {
    display: block;
    flex: 0 0 75%;
    max-width: 75%;
}

.fh-col-offset-18 {
    margin-left: 75%;
}

.fh-col-16 {
    display: block;
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
}

.fh-col-offset-16 {
    margin-left: 66.66666667%;
}

.fh-col-12 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
}

.fh-col-offset-12 {
    margin-left: 50%;
}

.fh-col-8 {
    display: block;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}

.fh-col-offset-8 {
    margin-left: 33.33333333%;
}

.fh-col-6 {
    display: block;
    flex: 0 0 25%;
    max-width: 25%;
}

.fh-col-offset-6 {
    margin-left: 25%;
}

/* Article */

.fh-article {
    font-size: 16px;
    padding: 25px 10px;
}

.fh-article h1.big-title {
    font-size: 36px;
    border-bottom: #AAA 3px solid;
    margin-bottom: 15px;
    padding: 15px 0;
    text-align: center;
}

.fh-article h1 {
    font-size: 30px;
    margin-top: 24px;
    border-bottom: #AAA 2px solid;
    margin-bottom: 12px;
}

.fh-article h2 {
    font-size: 24px;
    border-bottom: #AAA 1px solid;
    margin-top: 20px;
    margin-bottom: 10px;
}

.fh-article p {
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#fh-startpage {
    margin: 50px auto;
    width: 940px;
    padding: 30px;
    background-color: #FFF;
    box-shadow: #CCC 0 5px 25px;
}


/* FH Window */

.fh-window {
    --width: 500px;
    --height: 300px;
    --title-height: 35px;
    width: var(--width);
    position: fixed;
    top: calc(50vh - (var(--height) + var(--title-height)) / 2);
    right: calc(50vw - var(--width) / 2);;
    background-color: #FFF;
    box-shadow: #CCC 0 3px 15px;
    overflow: hidden;
    animation: fh-window-show calc(var(--animation-speed) * 0.5);
}

@keyframes fh-window-show {
    0% {width: 0px; color: transparent; box-shadow: transparent 0 3px 15px;}
    100% {}
}

.fh-window.window-close {
    width: 0;
    box-shadow: none;
    animation: fh-window-close var(--animation-speed);
}

@keyframes fh-window-close {
    0% {width: var(--width); color: inherit; box-shadow: #CCC 0 3px 15px; display: block;}
    50% {width: var(--width); color: inherit; box-shadow: #CCC 0 3px 15px; display: block;}
    100% {width: 0px; color: transparent; box-shadow: transparent 0 3px 15px; display: block;}
}

.fh-window-title {
    height: var(--title-height);
    display: flex;
    align-items: center;
}

.fh-window-title .title {
    width: calc(100% - 60px);
    padding-left: 10px;
    font-weight: bold;
    font-size: 18px;
}

.fh-window-title .close {
    width: 50px;
    height: var(--title-height);
    --corner-marker-color: rgba(0,0,0,0.15);
    background-image: var(--corner-marker);
    background-color: transparent;
    transition: background-color var(--animation-speed-button-switch);
}

.fh-window-title .close:hover {
    background-color: var(--color-danger);
}

.fh-window-content {
    height: var(--height);
    background-image: linear-gradient(rgba(0,0,0,0.15) 0, transparent 15px);
    word-break: break-all;
    overflow-y: auto;
    animation: fh-window-show-content var(--animation-speed);
}

.fh-window.window-close .fh-window-content {
    height: 0;
    animation: fh-window-close-content calc(var(--animation-speed) * 0.5);
}

.fh-window-content::-webkit-scrollbar,
.fh-msgbox-content::-webkit-scrollbar {
    width: 8px;
}

.fh-window-content::-webkit-scrollbar-thumb,
.fh-msgbox-content::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: rgba(0,0,0,0.15);
}

.fh-window-content::-webkit-scrollbar-thumb:hover,
.fh-msgbox-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.35);
}

@keyframes fh-window-show-content {
    0% {height:0; color: transparent; overflow-y: hidden;}
    50% {height:0; color: transparent; overflow-y: hidden;}
    100% {overflow-y: hidden;}
}

@keyframes fh-window-close-content {
    0% {height: var(--height); overflow-y: hidden;}
    100% {height:0; color: transparent; overflow-y: hidden;}
}

.fh-msgbox-content {
    height: calc(var(--height) - 60px);
    background-color: var(--color-msgbox-background);
    background-image: linear-gradient(rgba(0,0,0,0.1) 0, transparent 15px), linear-gradient(to top, rgba(0,0,0,0.1) 0, transparent 15px);
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.fh-msgbox-controller {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FH Button */

.fh-button {
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    margin: 0 3px;
    font-size: 14px;
    color: #FFF;
    border: none;
    cursor: pointer;
    vertical-align: baseline;
    background-color: var(--color-general-dark);
    background-image: var(--corner-marker);
    background-repeat: no-repeat;
    transition: filter var(--animation-speed-button-switch), background-color var(--animation-speed-button-switch);
}

.fh-button:hover:not(.fh-disabled) {
    filter: brightness(1.15);
}

.fh-button:active:not(.fh-disabled) {
    transition: filter 0s;
    filter: brightness(0.85);
}

.fh-button.fh-safe {
    background-color: var(--color-safe-dark);
}

.fh-button.fh-warn {
    background-color: var(--color-warn-dark);
}

.fh-button.fh-danger {
    background-color: var(--color-danger-dark);
}

.fh-button.fh-special {
    background-color: var(--color-special-dark);
}

.fh-button.fh-ghost {
    height: 33px;
    line-height: 33px;
    padding: 0 9px;
    color: var(--color-general-dark);
    --border-style: solid;
    border: var(--color-general-dark) 1px var(--border-style);
    background-color: transparent;
    --corner-marker-color: var(--color-general-dark);
    background-image: var(--corner-marker);
}

.fh-button.fh-dashed {
    height: 33px;
    line-height: 33px;
    padding: 0 9px;
    color: var(--color-general-dark);
    --border-style: dashed;
    border: var(--color-general-dark) 1px dashed;
    background-color: transparent;
    --corner-marker-color: var(--color-general-dark);
    background-image: var(--corner-marker);
}

.fh-button.fh-air {
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    color: var(--color-general-dark);
    --border-style: dashed;
    border: none;
    background-color: transparent;
    --corner-marker-color: var(--color-general-dark);
    background-image: var(--corner-marker);
}

.fh-button.fh-ghost:hover:not(.fh-disabled),
.fh-button.fh-ghost:active:not(.fh-disabled),
.fh-button.fh-dashed:hover:not(.fh-disabled),
.fh-button.fh-dashed:active:not(.fh-disabled),
.fh-button.fh-air:hover:not(.fh-disabled),
.fh-button.fh-air:active:not(.fh-disabled) {
    background-color: var(--color-general-glass);
}

.fh-button.fh-ghost.fh-safe:hover:not(.fh-disabled),
.fh-button.fh-ghost.fh-safe:active:not(.fh-disabled),
.fh-button.fh-dashed.fh-safe:hover:not(.fh-disabled),
.fh-button.fh-dashed.fh-safe:active:not(.fh-disabled),
.fh-button.fh-air.fh-safe:hover:not(.fh-disabled),
.fh-button.fh-air.fh-safe:active:not(.fh-disabled) {
    background-color: var(--color-safe-glass);
}

.fh-button.fh-ghost.fh-warn:hover:not(.fh-disabled),
.fh-button.fh-ghost.fh-warn:active:not(.fh-disabled),
.fh-button.fh-dashed.fh-warn:hover:not(.fh-disabled),
.fh-button.fh-dashed.fh-warn:active:not(.fh-disabled),
.fh-button.fh-air.fh-warn:hover:not(.fh-disabled),
.fh-button.fh-air.fh-warn:active:not(.fh-disabled) {
    background-color: var(--color-warn-glass);
}

.fh-button.fh-ghost.fh-danger:hover:not(.fh-disabled),
.fh-button.fh-ghost.fh-danger:active:not(.fh-disabled),
.fh-button.fh-dashed.fh-danger:hover:not(.fh-disabled),
.fh-button.fh-dashed.fh-danger:active:not(.fh-disabled),
.fh-button.fh-air.fh-danger:hover:not(.fh-disabled),
.fh-button.fh-air.fh-danger:active:not(.fh-disabled) {
    background-color: var(--color-danger-glass);
}

.fh-button.fh-ghost.fh-special:hover:not(.fh-disabled),
.fh-button.fh-ghost.fh-special:active:not(.fh-disabled),
.fh-button.fh-dashed.fh-special:hover:not(.fh-disabled),
.fh-button.fh-dashed.fh-special:active:not(.fh-disabled),
.fh-button.fh-air.fh-special:hover:not(.fh-disabled),
.fh-button.fh-air.fh-special:active:not(.fh-disabled) {
    background-color: var(--color-special-glass);
}

.fh-button.fh-ghost.fh-safe,
.fh-button.fh-dashed.fh-safe {
    color: var(--color-safe-dark);
    border: var(--color-safe-dark) 1px var(--border-style);
    --corner-marker-color: var(--color-safe-dark);
    background-image: var(--corner-marker);
}

.fh-button.fh-ghost.fh-warn,
.fh-button.fh-dashed.fh-warn {
    color: var(--color-warn-dark);
    border: var(--color-warn-dark) 1px var(--border-style);
    --corner-marker-color: var(--color-warn-dark);
    background-image: var(--corner-marker);
}

.fh-button.fh-ghost.fh-danger,
.fh-button.fh-dashed.fh-danger {
    color: var(--color-danger-dark);
    border: var(--color-danger-dark) 1px var(--border-style);
    --corner-marker-color: var(--color-danger-dark);
    background-image: var(--corner-marker);
}

.fh-button.fh-ghost.fh-special,
.fh-button.fh-dashed.fh-special {
    color: var(--color-special-dark);
    border: var(--color-special-dark) 1px var(--border-style);
    --corner-marker-color: var(--color-special-dark);
    background-image: var(--corner-marker);
}

.fh-button.fh-air.fh-safe {
    color: var(--color-safe-dark);
    --corner-marker-color: var(--color-safe-dark);
    background-image: var(--corner-marker);
}

.fh-button.fh-air.fh-warn {
    color: var(--color-warn-dark);
    --corner-marker-color: var(--color-warn-dark);
    background-image: var(--corner-marker);
}

.fh-button.fh-air.fh-danger {
    color: var(--color-danger-dark);
    --corner-marker-color: var(--color-danger-dark);
    background-image: var(--corner-marker);
}

.fh-button.fh-air.fh-special {
    color: var(--color-special-dark);
    --corner-marker-color: var(--color-special-dark);
    background-image: var(--corner-marker);
}

.fh-button.fh-disabled {
    cursor: not-allowed;
    filter: opacity(0.35);
}


/* FH MsgBox-Button */

.fh-msgbox-controller .fh-button {
    min-width: 120px;
    margin: 0 10px;
}